.Gui{
	background-color: #FFB500;
	background-image: url($path/pcbg.png);
}
.QLabel#appLabel{
	color: white;
	font-size: 20px;
	padding: 5px;
	font-family: Courier New;
	font-weight: bold;
}
.QMenuBar#menubar{
	color: black;
	font-weight: bold;
	font-family: Courier New;
	background-color: transparent;
	padding-left: 12px;
}
.QMenuBar#menubar::item::selected{
	background-color: transparent;
}
.QMenu{
	color: black;
	font-family: Courier New;
	background-color: #FFB500;
	border-color:yellow;
	border-style:solid;
	border-width:2px;
	left: -5px;
	font-weight: bold;
}
.QMenu::item:selected{
	background-color: yellow;
}
.QTreeWidget#chumsTree{
	background-color: black;
	color:#666;
	border-color: #FFFF00;
	border-style: solid;
	border-width: 3px;
	font-family: Courier New;
}
.QTreeWidget::item{
	color: white;
}
.QTreeWidget::item::selected, .QTreeWidget::item::selected::hover{
	background-color: gray;
}
.QTreeWidget::item::hover{
	background-color: rgb(200,200,200,50);
}
.QPushButton#addChumButton{
	text-align: center;
	background-color:yellow;
	border-color:#BB8800;
	border-style:solid;
	border-width:2px;
	font-family: Courier New;
	padding: 2px 0px 2px 0px;
}
.QPushButton#pesterButton{
	text-align: center;
	background-color:yellow;
	border-color:#BB8800;
	border-style:solid;
	border-width:2px;
	font-family: Courier New;
	padding: 2px 0px 2px 0px;
}
.QPushButton#blockButton{
	text-align: center;
	background-color:red;
	border-color:#BB8800;
	border-style:solid;
	border-width:2px;
	font-family: Courier New;
	padding: 2px 0px 2px 0px;
}
.QPushButton#nameButton{
	background-color: black;
	color:white;
	text-align: left;
	border-color: #FFFF00;
	border-style: solid;
	border-width: 2px;
	font-family: Courier New;
	padding: 3px 0px 3px 2px;
}
.Gui .QPushButton[checkable="true"]{
	text-align: left;
	background-color:yellow;
	border-color:#BB8800;
	border-style:solid;
	border-width:2px;
	padding: 1px 0px 1px 0px;
	font-family: Courier New;
	font-size:11px;
}
.Gui .QPushButton[checkable="true"]::checked{
	text-align: left;
	background-color:white;
	padding: 1px 0px 1px 0px;
	font-family: Courier New;
	font-size:11px;
}
.QPushButton#moodButton1{
	text-align: left;
	background-color:red;
	padding: 1px 0px 1px 0px;
	font-family: Courier New;
}
.QPushButton#moodButton1::checked{
	text-align: left;
	background-color:white;
	padding: 1px 0px 1px 0px;
	font-family: Courier New;
	color: red;
}
.QPushButton#moodButton2{
	text-align: center;
	background-color: black;
	padding: 1px 0px 1px 0px;
	color: white;
	font-family: Courier New;
}
.QPushButton#moodButton2::checked{
	text-align: center;
	background-color:white;
	padding: 5px 0px 5px 0px;
	font-family: Courier New;
	color: #CCCCCC;
}
.TabWindow{
	background-color: #FFB500;
	border-color: #FFFF00;
	border-style: solid;
	border-width: 2px;
}
.QTabWidget::pane {
	background-color: #FFB500;
	border-color: #FFFF00;
	border-style: solid;
	border-width: 2px;
}
.QTabBar::tab{
	background-color: #7f7f7f;
	font-family: 'Courier';
	font:bold;
	font-size:12px;
	min-height:25px;
    min-width: .25ex;
}
.QTabBar::tab::selected{
	border:0px;
	background-color:#fdb302;
	border-top:2px solid yellow;
	border-left:2px solid yellow;
	border-right:2px solid yellow;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.PrivateMessageWidget{
	background-color: #FFB500;
	border-color: #FFFF00;
	border-style: solid;
	border-width: 2px;
}
.QLabel#userLabel{
	padding: 13px 0px 13px 0px;
	height:60px;
	color:white;
	background-color:#BB8800;
	font-size: 15px;
}
.QTextEdit#userOutput{
	border-color: #BB8800;
	border-style: solid;
	border-width: 2px;
	font-size: 12px;
	selection-background-color: gray;
}
.QLineEdit#userInput{
	border-color: #BB8800;
	border-style: solid;
	border-width: 2px;
	selection-background-color: gray;
}
.QPushButton#sendButton{
	text-align: left;
	background-color:yellow;
	border-color:#BB8800;
	border-style:solid;
	border-width:2px;
	padding: 1px 0px 1px 0px;
	font-family: Courier New;
}
.SwitchDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.QLabel#chamhanelLabel{
	font-family: Courier New;
}
.QLineEdit#getHandleInput{
	background-color: #fdb302;
	border: 1px solid black;
	selection-background-color: gray;
}
.QLabel#chooseProfileLabel{
	font-family: Courier New;
}
.QComboBox{
	background-color: #fdb302;
	selection-background-color: gray;
	font-family: Courier New;
}
.QComboBox QAbstractItemView {
	selection-background-color: gray;
	background-color: #fdb302;
	font-family: Courier New;
}
.QPushButton#cancelButton, .QPushButton#proceedButton,
.QPushButton#deleteProfileButton,
.QPushButton#acceptButton, .QPushButton#rejectButton,
.QPushButton#addBlockButton, .QPushButton#removeBlockButton,
.QPushButton#closeUserlist, .QPushButton#connectingExitButton,
.QPushButton#refreshThemeButton{
	background-color: #fdb302;
	font-family: Courier New;
}
.QCheckBox#defaultCheckBox{
	background-color: #fdb302;
	font-family: Courier New;
	selection-background-color: gray;
}
.ConfirmDeleteDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.AddFriendDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.AddBlockedDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.BlockedDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.QListWidget#blockedList, .QListWidget#userList{
	background-color: black;
	border: 2px solid yellow;
}
.QListWidget::item{
	color: white;
}
.QListWidget::item::selected, .QListWidget::item::selected::hover{
	background-color: gray;
}
.QListWidget::item::hover{
	background-color: rgb(200,200,200,50);
}
.QLineEdit#addChumInput{
	background-color: #fdb302;
	border: 1px solid black;
	selection-background-color: gray;
}
.InvalidUserDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.ConnectingDialog{
	background-color: #fdb302;
	font-family: Courier New;
}
.UserlistWindow{
	background-color: #fdb302;
	font-family: Courier New;
}
.OptionsWindow{
	background-color: #fdb302;
	font-family: Courier New;
}
.OptionsWindow .QPushButton[checkable="true"]{
	background-color: #fdb302;
	font-family: Courier New;
}
.OptionsWindow .QPushButton[checkable="true"]::selected{
	font-family: Courier New;
}